# Example for publishing locally to a Gitea npm registry.
# Replace values with your Gitea URL and owner/org.

@theupriser:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${NODE_AUTH_TOKEN}
always-auth=true